@import url(https://db.onlinewebfonts.com/c/3114dbb517b7c67b80e322545c5f565f?family=Averta+Demo+PE+Regular);

* {
  padding: 0;
  margin: 0;
  font-family: "Averta Demo PE Regular";
  font-style: normal;
}

*, *::after,
*::before {
  box-sizing: border-box;
}

.container {
  max-width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}

button {
  border: none;
  cursor: pointer;
}

ul {
  list-style-type: none;
}